---
Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-invalid-enum-default-initialization,
    clang-analyzer-*,
    -clang-analyzer-optin.cplusplus.VirtualCall,
    clang-diagnostic-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-vararg,
    google-*,
    -google-readability-avoid-underscore-in-googletest-name,
    -google-readability-casting,
    -google-runtime-references,
    modernize-deprecated-headers,
    performance-*,
    portability-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
